* {
    margin: 0;
    padding: 0;
}

.rahmen {
    width: 500px;
    height: 200px;
    background-color: black;
    display: inline-flex;
    margin: 0 auto;
    border-radius: 30px;

}

.display {
    width: 400px;
    height: 120px;
    background-color: black;
    border: solid 5px white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    
}

p {
    font-size: 2em;
    color: white;
    float: left;
    margin-left: 10px;

}